@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    margin: 0;
}

/* Global background and font */
body {
    background-image: url('/background.svg');
    /* put background.svg in the public folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'League Spartan', Arial, sans-serif;
}